body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_news7FlexContainer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#news7FlexContainer
{
   display: flex;
   position: relative;
   padding: 100px 0 100px 0;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_news7Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0 0 30px 0;
   text-align: center;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
}
#news7Heading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_news7Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 100%;
   align-self: auto;
   padding: 0;
   margin: 0 0 30px 0 ;
   text-align: center;
}
#wb_news7Text
{
   color: #000000;
   font-family: "Courier New";
   font-weight: 400;
   font-size: 20px;
   line-height: 21px;
}
#wb_news7Text p, #wb_news7Text ul
{
   margin: 0;
   padding: 0;
}
#wb_news7Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 33%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: #FAFAFA;
   background-image: none;
   border: 15px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#news7Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#news7Card1-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#news7Card1-card-item1
{
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 0;
}
#news7Card1-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 19px;
   margin: 0;
}
#news7Card1-card-item2
{
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 0 0 20px 0;
}
#news7Card1-card-item2 h1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
}
#news7Card1-card-item3
{
   box-sizing: border-box;
   margin: 0 30px 0 30px;
   padding: 0;
}
#news7Card1-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#news7Card1-card-item4
{
   display: inline-block;
   height: 53px;
   cursor: pointer;
   box-sizing: border-box;
   margin: 30px 0 30px 0 ;
   padding: 15px 20px 15px 20px;
   border: 2px solid #1778F2;
   border-radius: 100px;
   background-color: transparent;
   background-image: none;
   color: #1778F2;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#wb_news7Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 33%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: #FAFAFA;
   background-image: none;
   border: 15px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#news7Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#news7Card2-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#news7Card2-card-item1
{
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 0;
}
#news7Card2-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 19px;
   margin: 0;
}
#news7Card2-card-item2
{
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 0 0 20px 0;
}
#news7Card2-card-item2 h1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
}
#news7Card2-card-item3
{
   box-sizing: border-box;
   margin: 0 30px 0 30px;
   padding: 0;
}
#news7Card2-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#news7Card2-card-item4
{
   display: inline-block;
   height: 53px;
   cursor: pointer;
   box-sizing: border-box;
   margin: 30px 0 30px 0 ;
   padding: 15px 20px 15px 20px;
   border: 2px solid #1778F2;
   border-radius: 100px;
   background-color: transparent;
   background-image: none;
   color: #1778F2;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
#wb_news7Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 33%;
   align-self: auto;
   box-sizing: border-box;
   margin: 0;
   background-color: #FAFAFA;
   background-image: none;
   border: 15px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#news7Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#news7Card3-card-item0
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#news7Card3-card-item1
{
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 0;
}
#news7Card3-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 19px;
   margin: 0;
}
#news7Card3-card-item2
{
   box-sizing: border-box;
   margin: 30px 0 0 0 ;
   padding: 0 0 20px 0;
}
#news7Card3-card-item2 h1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
}
#news7Card3-card-item3
{
   box-sizing: border-box;
   margin: 0 30px 0 30px;
   padding: 0;
}
#news7Card3-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   margin: 0;
}
#news7Card3-card-item4
{
   display: inline-block;
   height: 53px;
   cursor: pointer;
   box-sizing: border-box;
   margin: 30px 0 30px 0 ;
   padding: 15px 20px 15px 20px;
   border: 2px solid #1778F2;
   border-radius: 100px;
   background-color: transparent;
   background-image: none;
   color: #1778F2;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
}
